<div class="px-48 flex pt-48 border">
    <div class="flex flex-col max-w-[50%]">
        <h1 class="uppercase text-[3rem]">About <span class="text-orange-200">me</span></h1>
        <div class="indent-8 text-2xl">
            My name is Rik Rogaar and I'm {{ getAge }} year old Web Developer.
            I started my programming journey when I was 13 years old scripting custom maps I made in Call of Duty 4.
            Ever since then I fell in love with writing code and watching my creations take form.
        </div>
    </div>
</div>